.main-canvas {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #ffffff;
}
.main-container {
    -fx-background-color: #daeddf;
}