* {
    -fx-focus-color: transparent;
}

BorderPane, .tool-block {
    -fx-border-color: #F3CCEE;
    -fx-border-width: 2px;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #FFF;
}

Label {
    -fx-font-size: 14px;
}

.button, .spinner, ColorPicker, TextField {
    -fx-font-size: 14px;
    -fx-background-color: #FFF;

    -fx-background-radius: 10px;
    -fx-border-color: #BBB;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.button {
    -fx-background-color: #F3CCEE;
}

/* https://stackoverflow.com/questions/54938390/how-to-change-button-width-for-javafx-spinner-with-css */

.spinner { -fx-base: rgba(238, 238, 238, 255); }

.spinner .increment-arrow-button {
    -fx-body-color: #FFF;
    -fx-padding: 1 2 1 2;
}
.spinner .decrement-arrow-button {
-fx-body-color: #FFF;
    -fx-padding: 1 2 1 2;
}

/* https://stackoverflow.com/questions/63831397/javafx-custom-styling-for-multiple-tabpanes */

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #FFF;
    -fx-border-width: 0px 0px 1px;
    -fx-border-color: #BBB;
}

.tab-pane .tab {
    -fx-background-color: #EEE;
    -fx-border-color: #BBB;
    -fx-border-width: 1px;

    -fx-background-radius: 8px 8px 0px 0px;
    -fx-border-radius: 8px 8px 0px 0px;
    -fx-border-style: solid solid none;
}

.tab-pane:top .tab:selected {
    -fx-background-color: #FFF;
}